@model IEnumerable<ContosoUniversity.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h1>Departamentos</h1>

<p>
    <a asp-action="Create">Create Nuevo Departamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Presupuesto
            </th>
            <th>
                Fecha de Inicio
            </th>
            <th>
                Numero de registro
            </th>
            <th>
                Jefe de Departamento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RowVersion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administrator.FullName)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.DepartmentID">Editar</a> |
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.DepartmentID">Detalles</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.DepartmentID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
