@model IEnumerable<ContosoUniversity.Models.Course>

@{
    ViewData["Title"] = "Courses";
}

<h1>Cursos</h1>

<p>
    <a asp-action="Create">Crear Curso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                
                <p>ID Curso</p>
            <th>
                
                <p>Nombre Curso</p>
            </th>
            <th>
                <p>Creditos</p>
            </th>
            <th>
                <p>Departamento</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name) 
            </td>
            <td>
                <a  class="btn btn-primary"  asp-action="Edit" asp-route-id="@item.CourseID">Editar</a> |
                <a  class="btn btn-secondary"  asp-action="Details" asp-route-id="@item.CourseID">Detalles</a> |
                <a  class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.CourseID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
